div#ticker {
    position: absolute;
    top: .5em;
    right: 0;
    text-align: right;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
}

div#ticker div {
    display: none;
    float: left;
}

div#ticker div span {
    padding-right: 2em;
}

body {
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 110%;
}

iframe#content {
    padding-top: 2em;
    border: 0;
    width: 100%;
    height: 100%;
}