.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

* {
  margin: 0; padding:0;
}

body {
  background-color:#1F1B1D;
  font-family:Helvetica, arial, sans serif;
}

#content {
  list-style:none;
}

.p-container {
  height:50%;
  overflow:hidden;
  position:relative;
}

.p {
  text-align:center;
  height:100%;
  width:100%;
}

.p img {
  height:100%;
  text-align:center;
}

#waiting {
  position:fixed;
  bottom:0;
  background:none repeat scroll 0 0 rgba(3, 3, 3, 0.5);
  width:100%;
  color:#fff;
  font-size:24px;
}

#waiting .waiting-text {
  padding:.5em;
  float:left;
}

.caption {
  background:none repeat scroll 0 0 rgba(3, 3, 3, 0.5);
  font-size:40px;
  width:100%;
  padding:.25em;
  text-shadow:0 2x #000;
  color:#fff;
  position:absolute;
  z-index:9999;
  bottom:0;
}

.details {
  /*float:left;
  width:85%;*/
}

.group {
  width:85%;
  font-weight:bold;
  line-height:1.2em;
}

.event {
  font-size:60%;
}

.when {
  font-size:45%;
  line-height:1em;
  color:#ccc;
}

#logo:visited, #logo:link, #logo:hover {
  color:transparent;
}


#logo {
  float:right;
  margin-right:20px;
  display:relative;
  bottom:0;
}