
#logo {
	position: relative;
	top: 12px;
}

#frame{ 
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
}

#big-logo {
	position: absolute;
	width: 250px;
	height: 167px;
	margin-left: -125px;
	top: -84px;
	left: 75%;
	filter: alpha(opacity=50);
    -moz-opacity:0.5;
	opacity: 0.5;
}

#plug { 
	position:absolute;
	height: 2.5em; 
	width: 100%;
	top: 0px;
	left: 0px;
	background: transparent; 
	padding:5px;
}

#plug-contents {
	position: relative;
	text-align: center;
}

body {
 background:#333; font-family:helvetica nueve, helvetica, arial, sans serif; overflow: hidden;
 margin: 0;
 font-size: 15px;
 width: 100%;
 height: 100%;
}
a:link, a:visited {
  color:#FF006F;
  text-decoration:none;
}
a:hover {

}
img {
	border:none;
}

#apilink:link, #apilink:visited { color:transparent; }

#rsvp-detail {
  background:rgb(3,3,3);
  background:rgba(3, 3, 3, 0.7);
  position: absolute;
  padding: .25em .25em 0 0;
  top: 2.5em;
  left: 0px;
  width: 100%;
  min-height: 100%;
  max-height: 1000%;
  font-size: 1em;
  -moz-box-shadow: 0px 0px 15px #000;
  -webkit-box-shadow: 0px 0px 15px #000;
  box-shadow: 0px 0px 15px #000;
  overflow: auto;
}

#rsvp-detail .rsvp {
  margin:0 0 .25em 0;
  padding:.25em 0;
  overflow:hidden;
 /* height:78px;*/
  clear:both;
  color:#eee;
}

.rsvp {
  text-align:left;
}

#rsvp-detail .rsvp .time {
  color: #bbb;
  font-size: .8em;
}

#rsvp-detail .rsvp .member-photo {
  float:left;
  width: 115px;
  height: 78px;
  text-align: right;
  display:block;
}

span#rate {
    color: #999;
}

.rsvp .member-photo img {
  padding-right: 10px;
  padding-top: 8px;
}

#rsvp-detail .rsvp .member-info {
  margin-left: 125px;
}

.rsvp .member, .rsvp .event, .rsvp .group, .rsvp .place { }