#bg {
	background-color: #EEE;
}

#today {
	display:none;
	font-size: 20px;
	position: absolute;
	right:140px;
	top: 100px;
	
		filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
}

#meetup-fluff {
	position: absolute;
	margin: auto;
	top: 450px;
	right: 165px;
}

#frame {
	top:60px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin: auto;
	height: 600px;
	width: 970px;
	padding: 20px;
}

#target {
	overflow: hidden;
	display: none;
	position: relative; 
	top: 2.3em;
	right: 20px;
	color: #AAA;
	height: 292px;
	width: 100%;
	margin: auto;
	padding: 30px 20px;
}

#target .transparency {
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
	background-color: #000;
	top:0px;
	left:0px;
	position:absolute;
	height:1500px;
	width:1500px;
}

.selector a:hover{
	color: blue;
}

.target-selectors{
	position: absolute;
	bottom: 50px;
	right: 550px;
	font-size:40px;
}

.target-close {
	position: absolute;
	top:5px;
	right:5px;
	color:#C60C30;
	font-size:15px
}

.target-link {
	font-size:20px;
	position: absolute;
	bottom: 125px;
	right: 40px;
	margin: auto;
}

.target-imgs {
	width: 50px;
	height: 50px;
}

.target-pic{
	position:absolute;
	padding-left: 10px;
	padding-top: 50px;
	text-align: center;
	float: left;
	width: 20%;
}
.target-text {
	position: absolute;
	width: 70%;
	left: 250px;
	top: 50px;
	text-align: left;
	float: right;
	font-size: 12px;
}
.target-text-header {
	font-size: 20px;
	color: #FFF;
}

#full {
	position: relative;
	margin: auto;
	height: 95%;
	width: 95%;
	padding: 20px;
}

#register {
	/*display: none;*/
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
	padding: 15px;
	position: absolute;
	bottom: 40px;
	right: 10px;
	z-index: 100;
}
/*
#meetupFind {
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFF;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
}
*/
#meetupFind {
	text-align: center;
	background-color: #FFF;
	filter:alpha(opacity=45);
	-moz-opacity:0.45;
	opacity: 0.45;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 10px 0;
}




#header {
font-size: 20px;
color: #C60C30;
}
#subheader{
	font-size:14px;
}

#grid {
	font-family: "Helvetica";
	color: #666;
	font-size: 12px;
	position: absolute;
	bottom: 30px;
	left: 10px;
	overflow: hidden;
	width: 25%;
	height: 35%;

}
#map {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 70%;
	width: 100%;
	float: left
}
#map #plug { position:fixed; bottom:10px; left:20px; background: transparent; margin:0; padding:0; }
body {
 background:#FFF; font-family:helvetica nueve, helvetica, arial, sans serif; overflow: hidden;
 margin: 0;
 font-size: 18px;
 padding: 20px;
}
a:link, a:visited {
  color:#FF006F;
  text-decoration:none;
}
a:hover {

}
#apilink:link, #apilink:visited { color:transparent; }
circle.rsvp-no, circle.rsvp-yes { fill:#E51937; }
circle:hover {
    background:#fff;
    opacity:1.0;
    -webkit-transition:fill .25s ease-in;
    -moz-transition:fill .25s ease-in;
    -o-transition:fill .25s ease-in;
    transition:fill .25s ease-in;
}

#rsvp-detail {
  background:rgb(3,3,3);
  background:rgba(3, 3, 3, 0.7);
  position: absolute;
  padding: .25em .25em 0 0;
  top: 0px;
  right: 0px;
  width: 25em;
  height: 100%;
  font-size: 1em;
  -moz-box-shadow: 0px 0px 15px #000;
  -webkit-box-shadow: 0px 0px 15px #000;
  box-shadow: 0px 0px 15px #000;
}

#rsvp-detail .rsvp {
  margin:0 0 .25em 0;
  padding:.25em 0;
  overflow:hidden;
 /* height:78px;*/
  clear:both;
  color:#eee;
}

.rsvp {
  text-align:left;
}

#rsvp-detail .rsvp .time {
  color: #bbb;
  font-size: .8em;
}

#rsvp-detail .rsvp .member-photo {
  float:left;
  width: 115px;
  height: 78px;
  text-align: right;
  display:block;
  float:left;
}

#people { list-style: none; margin:2px; padding:0;}

#people li {
  list-style:none;
  overflow:hidden;
  display:block;
  float:left; height: 30px; margin:0px; width:30px;
  /*background:#585355;*/
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#people span { display:block; overflow:hidden; max-width:30px; width:30px; }

#people span img { max-height:50px; overflow:hidden; height:50px; }

#people li.present {

}

span#rate {
    color: #999;
}

.rsvp .member-photo img {
  padding-right: 10px;
}

#rsvp-detail .rsvp .member-info {
  margin-left: 120px;
}

.rsvp .member, .rsvp .event, .rsvp .group, .rsvp .place { }

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.jquerybubblepopup-tail {
  margin: 0 0 -4px 0;
}

.jquerybubblepopup .member, .jquerybubblepopup .event {
  font-weight:bold;
}

.jquerybubblepopup .member-photo {
  float:left;
}

.jquerybubblepopup .rsvp-info {
  float:right;
  text-align:left;
  margin:5px;
}

.jquerybubblepopup .member-info {
  margin-left:auto;
}