* { margin:0; padding:0;}
body{
  background:#242222;
  background:url('bg.png') #242222;
  height:100%;
  color:#DBDBDB;
  font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight:normal;
}
#big {display:none;}
#info {
  background: rgb(200, 54, 54);
  background: rgba(200, 54, 54, 0.5);
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  text-align:center;
  text-shadow: #333 1px -1px 1px;
  padding:.5em;
}
#info a:hover, #meta a:hover {
    text-decoration:underline;
}
#info a:link, #info a:visited {
  text-decoration:none;
  color:#FF297E;
  text-shadow: #333 0px 0px 1px;
  font-weight:bold;
}
.meta {
  background:#eee;
  position: absolute;
  opacity:0.85;
  bottom:-55px;
  right:5px;
  padding:.25em;
  text-align:left;
  width:90%;
  font-size:90%;
}
.meta a img { margin-bottom:-3px; }
.meta a:link, .meta a:visited {
  text-decoration:none;
  color:#FF297E;
  text-shadow: #ddd 1px -1px 0px;
}
a:link img, a:visited img {
  color:transparent;
}
h1 { font-size:20px; font-weight:normal; text-shadow: #333 2px -1px 2px; }
h1 span { font-weight:bold; font-size:90%;}
#container { width: 800px; margin:0 auto;}
#photos { list-style:none; }
#photos li {
  display:hidden;
  position:relative;
  float:left;
  margin:.25em;
  overflow:hidden;
  padding: 5px;
  width: 150px;
  height: 150px;
  background: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #33;
  box-shadow:  0 0 5px #333;
}
#photos li span {
  display: block;
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}
#photos li img.pho {
  max-width: 150px;
  overflow: hidden;
  width: 150px;
}
#mup {
  bottom:0;
  left:0;
  padding:0 0 2em 1em;
  position:absolute;
}
#mup img { display:block; margin:1em 0; }
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
#big-question { font-size: 550%;  text-shadow: #333 2px -1px 2px; }
#big-question span { font-weight:bold; }

*::selection {
  background:#E51937;
  color:#fff;
}

*::-moz-selection {
  background:#E51937;
  color:#fff;
}

*::-webkit-selection {
  background:#E51937;
  color:#fff;
}
