* {
    margin:0;
    padding:0;
}
html {
    height:100%;
}
body{
    height:100%;
    color:#333;
    font-family:helvetica, arial, sans-serif;
    background:#fff;
}
a {
    text-decoration:none;
}
a:link, a:visited {
    color:#E51937;
}
a.disabled {
    color:#ccc;
    cursor:default;
}
a img {
  color:transparent;
}
#container{
  height:100%;
}

#highlight {
  background:#FCFFC9;
  height:160px;
  width:100%;
  position:fixed;
}

.reel .t, .reel .f {
    background:#fff;
}

.reel .t {
    border-bottom:1px dashed #aaa;
}
.reel .t {
    position:relative;
}
.reel .f {
    display:table-cell;
    position:absolute;
    top:50%;
    margin-top:-250px;
}
.reel .f .desc {
    text-align:left;
    padding:.5em;
}
.reel .f a {
    font-weight:bold;
}
.reel .f .time {
    color:#aaa;
    display:block;
}
.reel .f img {
    max-height:500px;
    text-align:center;
}
#bg .reel span {
    display: block;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    text-align:center;
}
#bg .reel img.pho {
    max-width: 150px;
    overflow: hidden;
    width: 150px;
}
#bg, #fg {
    height:90%;
    position:absolute;
    z-index:9900;
}
#bg {
    left:20px;
    background:#333;
    height:100%;
}
#fg {
    padding:0 .5em;
    background:#eee;
    height:100%;
    left: 330px;
    vertical-align:middle;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
}
.reel {
    overflow:hidden;
    height:100%;
}
#bg .reel {
    width:160px;
    background:#eee;
    padding: 0 .25em;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}
#fg .reel {
    padding:2px;
    width:604px;
    background:#ccc;
    text-align:center;
    position:relative;
}
#fg .reel  h1 {
    text-align:left;
    background:#eee;
    padding:.5em;
}
#fg .reel h1 img { float:left; }
#fg .reel h1 span {
    padding: 0 0 1em .25em;
    text-shadow: #fffff 0 0 5px;
}

#fg .reel .f {
    width:604px;
    -moz-box-shadow: 5px 0 5px #333;
    -webkit-box-shadow: 0 5px 5px #333;
    box-shadow: 5px 0 5px #333;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#info {
    background: rgb(71, 61, 64);
    background: rgba(71, 61, 64, 0.85);
    position:fixed;
    bottom:0;
    right:0;
    color:#fff;
    width:100%;
    text-align:center;
    text-shadow: #333 1px 0 0;
    padding:.5em;
    z-index:9999;
}
#info a:hover, #meta a:hover {
    text-decoration:underline;
}
#info a:link, #info a:visited {
  text-decoration:none;
  color:#FF297E;
  text-shadow: #333 0px 0px 1px;
  font-weight:bold;
}