#map { height:100%; float:left; width: 700px; }
#map #info { position:fixed; top:170px; left:50px; background: transparent; margin:0; padding:0; }
body { background:#333; font-family:helvetica nueve, helvetica, arial, sans serif; overflow: hidden }
h1 { color:#eee; }

circle.rsvp-no { fill:#FF006F; }
circle.rsvp-yes { fill:#00E1FF; fill:#FF006F; }
circle:hover {
    background:#fff;
    opacity:1.0;
    -webkit-transition:fill .25s ease-in;
    -moz-transition:fill .25s ease-in;
    -o-transition:fill .25s ease-in;
    transition:fill .25s ease-in;
}

#rsvp-detail {
  float:left;
}

#rsvp-detail .rsvp {
  margin:.25em 0;
  padding:.25em 0;
  overflow:hidden;
  height:68px;
  clear:both;
  color:#eee;
}

.rsvp {
  text-align:left;
}

.rsvp .time {
  color: #bbb;
  font-size:smaller;
}

#rsvp-detail .rsvp .member-photo {
  float:left;
  width: 115px;
  height: 58px;
  text-align: right;
}

.rsvp .member-photo img {
  padding-right: 10px;
}
.rsvp .member {
  font-weight:bold;
}

.rsvp .event, .rsvp .group, .rsvp .place {
  font-weight:bold;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.jquerybubblepopup-tail {
  margin: 0 0 -4px 0;
}

.jquerybubblepopup .member, .jquerybubblepopup .event {
  font-weight:bold;
}

.jquerybubblepopup .member-photo {
  float:left;
}

.jquerybubblepopup .rsvp-info {
  float:right;
  text-align:left;
  margin:5px;
}