* { margin:0; padding:0; }

body { width:100%; height:100%; }

.clearfix:after {	content: ".";	display: block;	clear: both;	visibility: hidden;	line-height: 0;	height: 0; }

.clearfix {	display: inline-block; }

html[xmlns] .clearfix { 	display: block; }

* html .clearfix {	height: 1%; }

body { background:#333; font-size: 20px; overflow: hidden; font-family:helvetica nueve, helvetica, arial, sans serif; }

#big-img{
	position: absolute;
	top: 29px;
	right: 40px;
	width: 40%;
	max-height: 100%;
	background: #FFF;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	border-radius: 15px;

}

#big-img img {
	display: block;
	background: #FFF;
	width: 95%;
	max-width:100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#big-img p {
	position: relative;
	left: 15px;
	margin-bottom: 10px;
	max-width: 90%;
}

#grid {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 55%;
	height: 100%;
	overflow: hidden;
}

#people { list-style: none; margin:2px; padding:0; }

#people li {
  list-style:none; overflow:hidden; display:block; float:left; height: 100px; margin:2px; width:100px;
  border:2px solid #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

#people span { display:block; overflow:hidden; }

#people span img { overflow:hidden; }

#people li.present {

}

.rsvp {
  text-align:left;
  margin:0;
}

.rsvp img {
 /* float:left; */
    display:none;
}

.rsvp .member, .rsvp .event, .rsvp .group {
  font-weight:bold;
}

.jquerybubblepopup-tail {
  margin: 0 0 -4px 0;
}

.jquerybubblepopup .member, .jquerybubblepopup .event {
  font-weight:bold;
}

.jquerybubblepopup .member-photo {
  float:left;
}

.jquerybubblepopup .rsvp-info {
  float:right;
  text-align:left;
  margin:5px;;
}
