* { margin:0; padding:0; }

body { width:100%; height:100%; }

.clearfix:after {	content: ".";	display: block;	clear: both;	visibility: hidden;	line-height: 0;	height: 0; }

.clearfix {	display: inline-block; }

html[xmlns] .clearfix { 	display: block; }

* html .clearfix {	height: 1%; }

body { background:#333; font-size: 15px; overflow: hidden; font-family:helvetica nueve, helvetica, arial, sans serif; }



#big-img{
	display: none;
	position: absolute;
	top: 29px;
	right: 30px;
	width: 40%;
	max-height: 90%;
	background: #FFF;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	border-radius: 15px;
	overflow: hidden;
}

#big-img img {
	display: none;
	background: #FFF;
	width: 95%;
	max-width:100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#big-img-text {
	display: none;
	position: relative;
	bottom: 0px;
	left: 15px;
	margin-bottom: 10px;
	max-width: 90%;
}

#grid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 135%;
	height: 100%;
	overflow: hidden;
}

#people { list-style: none; margin:2px; padding:0; }

#people li {
  list-style:none;
  overflow:hidden;
  display:block;
  float:left;
  height: 200px;
  width:250px;
  text-align: center;
}

.caption {
	color: #FFF;
	text-align: left;
	position: relative;
	top: -60px;
	margin: auto;
	width: 90%;
	height: 50px;
	background: #000;
	filter: alpha(opacity=50);
    -moz-opacity:0.5;
	opacity: 0.5;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;

}

#people span { display:block; overflow:hidden; }

#people span img { overflow:hidden; min-height: 200px; width: 250px}

#people li.present {

}

